@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer components {
  .button {
    @apply inline-flex justify-center rounded-md border border-transparent px-4 py-2 text-sm font-medium focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2;
  }
  .button-primary {
    @apply bg-sky-700 hover:bg-sky-300 focus-visible:ring-sky-500;
  }
  .button-warning {
    @apply bg-orange-600 hover:bg-orange-300 focus-visible:ring-orange-500;
  }
  .button-error {
    @apply bg-red-900 hover:bg-red-300 focus-visible:ring-red-500;
  }
  .half-arc {
    clip-path: circle(112% at 10% -19%);
  }
  .clip-path-lg {
    clip-path: circle(75%);
  }
}
